<footer class="footer">

    <div class="col-md-3">
        <ul>
            <li class="title">ISEN Immo</li>
            <li><a href="{{ path('homepage') }}" class="white-color">Accueil</a></li>
            <li><a href="{{ path('annonce_ajouter') }}" class="white-color">Soumettre une annonce</a></li>
            <li><a href="{{ path('contact') }}" class="white-color">Nous contacter</a></li>
            <li><a href="{{ path('sonata_admin_redirect') }}" class="white-color">Administration</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li class="title">Partenaires</li>
            <li><a href="https://www.smeba.fr/" class="white-color" target="_blank">Smeba</a></li>
            <li><a href="https://fr.foncia.com/" class="white-color" target="_blank">Foncia</a></li>
            <li><a href="https://www.appartcity.com/fr/offre-etudiante.html" class="white-color" target="_blank">Appart'city</a></li>
            <li><a href="https://www.arpej.fr/ville/brest/" class="white-color" target="_blank">ARPEJ</a></li>
            <li><a href="http://www.oceanicimmobilier-brest.fr/" class="white-color" target="_blank">Océanic Immobilier</a></li>
        </ul>
    </div>


    <div class="col-md-6">
        {#<!--<p>Réalisé par <a href="https:/evanguelard.fr" target="_blank">Evan Guélard</a> et <a href="https:/konstantin-sidorenko.fr" target="_blank" >Konstantin Sidorenko</a>.</p>-->#}
    </div>



</footer>
