<footer class="footer">

    <div class="col-md-3">
        <ul>
            <li class="title">ISEN Immo</li>
            <li><a href="{{ path('sonata_admin_redirect') }}" class="white-color">Administration</a></li>
            <li><a href="{{ path('annonce_ajouter') }}" class="white-color">Soumettre une annonce</a></li>
            <li><a href="{{ path('contact') }}" class="white-color">Nous contacter</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li class="title">Partenaires</li>
            <li><a href="http://isen-brest.fr/" class="white-color">ISEN Brest</a></li>
        </ul>
    </div>


    <div class="col-md-6">
        <p>Réalisé par <a href="https:/evanguelard.fr" target="_blank">Evan Guélard</a> et <a href="https:/konstantin-sidorenko.fr" target="_blank" >Konstantin Sidorenko</a>.</p>

    </div>



</footer>