{% extends 'emails/base.html.twig' %}

{% block title %}Nouvelle annonce déposée{% endblock %}

{% block body %}
    Rendez-vous sur l'<a href="{{ url('admin_app_annonce_edit', {id: annonce.id}) }}">interface d'administration</a>, une nouvelle annonce a été déposée : {{ annonce.nom }).
{% endblock %}
