@import "_variables.scss";
@import "_bootswatch.scss";
@import "_popup.scss";
@import "_ion.rangeSlider.scss";
@import "_ion.rangeSlider.skinFlat.scss";

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 210px;

  @media screen and (max-width: 1000px) {
    padding-bottom: 410px;
  }

  @media screen and (max-width: 300px) {
    padding-bottom: 460px;
  }
}

body {position: relative;}
footer {position: absolute; bottom: 0; left: 0; right: 0}

.navbar-inverse .navbar-nav {
  > li > a.btn {
    padding: 6px 16px;
    margin-top: 13.5px;
    color: #444444;
    margin-left: 10px;
    margin-right: 10px;
  }

}

nav {
  .logo {
    float: left;
    margin-right: 15px;
  }

  img {
    width: 56px;
    margin-top: 4px;
    margin-left: 4px;
  }
}

.navbar-inverse .navbar-nav > li > a:not(.btn), .navbar-inverse .navbar-brand {
  &:hover {
    background-color: #B01414;
  }
}

section {
  padding: 30px 8%;

  @media screen and (max-width: 600px) {
    padding: 30px 1%;
  }

  h1 {
    margin-bottom: 30px;
  }

  &.form {
    padding: 30px 15%;
  }

  &.filtres {

    .form-horizontal .form-group {
      margin: 0;
    }

    .barre {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;

      input {
        display: inline-block;
        font-size: 24px;
        margin-bottom: 30px;
      }
    }

    #piece_input {
      margin-bottom: 20px;
    }

    #map {
      height: 305px;
      width: 100%;
      border: 2px solid #ccc;
    }
  }
}

.nb-result {
  text-align: center;
  width: 100%;
}

.resultats {
  padding: 0;
  width: 100%;
  padding-bottom: 160px;

  .resultat {
    list-style: none;
    display: inline-block;
    width: 33%;
    height: 422px;

    @media screen and (max-width: 1023px) {
      width: 49%;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    &:hover {
      opacity: 0.8;
    }

    a:hover, a:focus, a:active {
      text-decoration: none;
      color: $red-color;
    }

    h4 {
      font-size: 20px;
    }

    .img {
      width: 100%;
      height: 300px;
      overflow: hidden;
      background-color: #eee;
      text-align: center;

      img {
        width: 100%;
      }

    }

    .nb-images {
      position: relative;
      top: 272px;
      display: block;
      background-color: rgba(255,255,255,0.8);
      padding: 0 5px;
      float: right;
    }

    .prix {
      position: relative;
      top: 270px;
      display: block;
      background-color: rgba(255,255,255,0.8);
      padding: 0 5px;
      float: left;
      font-size: 1.2em;
    }
  }
}

.proprio {
  input {
    width: 15px;
    display: inline-block;
    box-shadow: none;

    &:not(:first-child) {
      margin-left: 12px;
    }
  }

  label {
    margin-right: 8px;
  }
}

.form-group.haut {
  height: 100px;
}

#remember_me {
  width: 25px;
  display: inline-block;
  box-shadow: none;
}

label[for="remember_me"] {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  padding-top: 26px;
}

section.form {
  .col-md-6 {
    width: 49%;
    margin-right: 1%;

    .postfixe input {
      width: 95%;
      display: inline-block;
    }
  }

  .col-md-12 {
    width: 99%;
    margin-right: 1%;
  }

  .col-xs-12 {
    @media screen and (max-width: 768px) {
      width: 99%;
      margin-right: 1%;
    }
  }

  #appbundle_annonce_typeProprietaire {
    box-shadow: none;

    label {
      margin-right: 10px;
    }
  }
}

.appart {
  img {
    width: 100%;
  }

  .description {
    font-size: 1.1em;
  }
}

.form-control {
  height: 30px;
}

label {
  margin: 0;
}

#appbundle_annonce_dateDisponible {
  box-shadow: none;

  select {
    width: 60px;
    margin-right: 10px;
  }
}

.footer {
  min-height: 180px;
  width: 100%;
  text-align: center;
  padding: 25px 15%;
  color: #ccc;
  background-color: #1b1c1d;

  > div {
    text-align: left;
    padding: 0 20px;
    min-height: 110px;

    &:not(:last-child) {

      @media screen and (max-width: 991px) {
        border-right: none;
      }
    }

    @media screen and (max-width: 991px) {
      min-height: 40px;
    }
  }

  ul {
    padding: 0;
  }

  p a {
    color: #fff;
    font-weight: bold;

    &:hover {
      color: #fff;
    }
  }

  li {
    list-style: none;

    &.title {
      font-size: 1.2em;
      font-weight: bold;
      color: #fff;
    }
  }
}

#partenaires {
  margin: 40px 0;

  h1 {
    margin-bottom: 40px;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    @media screen and (max-width: 1023px) {
      flex-direction: column;
    }

    li {
      width: 20%;
      list-style: none;

      @media screen and (max-width: 1023px) {
        width: 90%;
        margin: 30px;
      }

      img {
        width: 100%;
      }
    }
  }
}

.background-red {
  background-color: $red-color;
}

.red-text {
  color:$red-color;
}

.background-white {
  background-color: #fff;
}

.white-color {
  color: #fff;
}