{% extends 'base.html.twig' %}

{% block body %}
    <section class="criteres">

    </section>

    <section class="resultats">
        <ul class="resultats">
            <li class="resultat">

                <div class="img"><img src="{{ asset('images/photo.jpg') }}" alt="img"></div>
                <h4>Titre de l'anonce</h4>
                <b class="prix" title="Prix par mois">350 €</b>
            </li>
        </ul>
    </section>
{% endblock %}

{% block stylesheets %}

{% endblock %}
