{% extends 'base.html.twig' %}

{% block body %}
    <section class="criteres">

    </section>

    <section class="resultats">
        <ul class="resultats">
            <li class="resultat">

            </li>
        </ul>
    </section>
{% endblock %}

{% block stylesheets %}

{% endblock %}
