{% extends 'base.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% block body %}

    <section id="partenaires">
        <h1>Partenaires</h1>
        <ul>
            <li><a href="https://www.smeba.fr/"><img src="{{ asset('images/partenaires/smeba.jpg') }}" alt="Smeba"></a></li>
            <li><a href="https://fr.foncia.com/"><img src="{{ asset('images/partenaires/foncia.jpg') }}" alt="Foncia"></a></li>
            <li><a href="http://www.agence-centrale-immobilier.com/"><img src="{{ asset('images/partenaires/agence-centrale.png') }}" alt="Agence Centrale Immobilier"></a></li>
            <li><a href="http://www.groupesni.fr/"><img src="{{ asset('images/partenaires/sni.jpg') }}" alt="Groupe SNI"></a></li>
        </ul>
    </section>

{% endblock %}
